## editors
/.idea
/.vscode
/.agicoder

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## dev
TMP
build
dist
env
cit

## cloud images src folder
cit-store/

## api key
CIT_API_KEY

/cit-config.json

